<!DOCTYPE html>
<html lang="pl">
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title th:text="#{main.title}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header class="header--form-page" th:include="fragments/dashboard-header :: dashboard-header">
</header>

<section class="form--steps">
    <div class="form--steps-instructions">
        <div class="form--steps-container">
            <h3 th:text="#{form.important}">Ważne!</h3>
            <p data-step="1" class="active" th:text="#{form.important.details}">
                Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                wiedzieć komu najlepiej je przekazać.
            </p>
            <p data-step="2" th:text="#{form.important.details}">
                Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                wiedzieć komu najlepiej je przekazać.
            </p>
            <p data-step="3" th:text="#{form.important.foundation}">
                Wybierz jedną, do
                której trafi Twoja przesyłka.
            </p>
            <p data-step="4" th:text="#{form.important.address}">Podaj adres oraz termin odbioru rzeczy.</p>
        </div>
    </div>

    <div class="form--steps-container">
        <div class="form--steps-counter" th:utext="|#{form.step} <span>1</span>/4|">Krok <span>1</span>/4</div>

        <form th:action="@{/donation/form}" method="post" th:object="${donation}">
            <!-- STEP 1: class .active is switching steps -->
            <div data-step="1" class="active">
                <h3 th:text="#{form.categories}">Zaznacz co chcesz oddać:</h3>
                <div th:each="category: ${categories}" class="form-group">
                    <label id="categories-checkboxes">
                        <input
                                type="checkbox"
                                name="categories"
                                class="category"
                                th:title="${category.name}"
                                th:value="${category.id}"
                                th:field="*{categories}"

                        />
                        <span class="checkbox"></span>
                        <span class="description"
                              th:text="${category.name}"></span
                        >
                    </label>
                </div>

                <div class="form-group form-group--buttons">
                    <button id="categories" type="button" class="btn next-step" th:text="#{next}">Dalej</button>
                </div>
            </div>

            <!-- STEP 2 -->
            <div data-step="2">
                <h3 th:text="#{form.number.of.bags}">Podaj liczbę 60l worków, w które spakowałeś/aś rzeczy:</h3>

                <div class="form-group form-group--inline">
                    <label>
                        <span th:text="#{form.bags}">Liczba 60l worków:</span>
                        <input id="quantity" type="number" th:field="*{quantity}" step="1" min="1"/>
                    </label>
                </div>

                <div class="form-group form-group--buttons">
                    <a th:href="@{/donation/edit}" type="button" class="btn prev-step" th:text="#{go.back}">Wstecz</a>
                    <button type="button" class="btn next-step" th:text="#{next}">Dalej</button>
                </div>
            </div>


            <!-- STEP 3 -->
            <div data-step="3">
                <h3 th:text="#{about.action.whom}">Wybierz organizacje, której chcesz pomóc:</h3>

                <div th:each="organization: ${organizations}" class="form-group form-group--checkbox">
                    <label id="organizations">
                        <input class="organization" th:title="${organization.name}" type="radio" th:field="*{institution}" th:value="${organization.id}"/>
                        <span class="checkbox radio"></span>
                        <span class="description">
                            <div class="title" th:text="${organization.name}"></div><div class="subtitle" th:text="${organization.description}"></div></span>
                    </label>
                </div>

                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step" th:text="#{go.back}">Wstecz</button>
                    <button id="organization" type="button" class="btn next-step" th:text="#{next}">Dalej</button>
                </div>
            </div>

            <!-- STEP 4 -->
            <div data-step="4">
                <h3 th:text="#{about.action.courier}">Podaj adres oraz termin odbioru rzecz przez kuriera:</h3>

                <div class="form-section form-section--columns">
                    <div class="form-section--column">
                        <h4 th:text="#{summary.address}">Adres odbioru</h4>
                        <div class="form-group form-group--inline">
                            <label> <span th:text="#{address.street}">Ulica</span> <input id="street" type="text" th:field="*{street}" th:value="*{street}"/>
                            </label>
                        </div>

                        <div class="form-group form-group--inline">
                            <label> <span th:text="#{address.city}">Miasto</span> <input id="city" type="text" th:field="*{city}" th:value="*{city}"/> </label>
                        </div>

                        <div class="form-group form-group--inline">
                            <label>
                                <span th:text="#{address.zip.code}">Kod pocztowy</span> <input id="zip-code" type="text" th:field="*{zipCode}"
                                                    th:value="*{zipCode}"/>
                            </label>
                        </div>

                        <div class="form-group form-group--inline">
                            <label>
                                <span th:text="#{phone}">Numer telefonu</span> <input id="phone" type="text" th:field="*{phone}" th:value="*{phone}"/>
                            </label>
                        </div>
                    </div>

                    <div class="form-section--column">
                        <h4 th:text="#{pick.up.datetime}">Termin odbioru</h4>
                        <div class="form-group form-group--inline">
                            <label> <span th:text="#{date}">Data</span> <input id="date" type="date" th:field="*{pickUpDate}"
                                                th:value="*{pickUpDate}"/> </label>
                        </div>

                        <div class="form-group form-group--inline">
                            <label> <span th:text="#{time}">Godzina</span> <input id="time" type="time" th:field="*{pickUpTime}"
                                                   th:value="*{pickUpTime}"/> </label>
                        </div>

                        <div class="form-group form-group--inline">
                            <label>
                                <span th:text="#{courier.comment}">Uwagi dla kuriera</span>
                                <textarea id="comment" th:field="*{pickUpComment}" th:value="*{pickUpComment}"
                                          rows="5"></textarea>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step" th:text="#{go.back}">Wstecz</button>
                    <button id="to-summary" type="button" class="btn next-step" th:text="#{next}">Dalej</button>
                </div>
            </div>

            <!-- STEP 5 -->
            <div data-step="5">
                <h3 th:text="#{donation.summary.header}">Podsumowanie Twojej darowizny</h3>

                <div class="summary">
                    <div class="form-section">
                        <h4 th:text="#{donation.summary.giving}">Oddajesz:</h4>
                        <ul>
                            <li>
                                <span class="icon icon-bag"></span>
                                <span class="summary--text" th:text="|#{number.of.bags} :   |">worki </span>
                                <span class="summary--text" id="summary-quantity"></span>
                            </li>
                            <li>
                                <span class="summary--text" th:text="#{summary.categories}"></span>
                                <span class="summary--text" id="summary-categories"></span>
                            </li>

                            <li>
                                <span class="icon icon-hand"></span>
                                <span class="summary--text"
                                      id="summary-organization"></span
                                >
                            </li>
                        </ul>
                    </div>

                    <div class="form-section form-section--columns">
                        <div class="form-section--column">
                            <h4 th:text="#{summary.address}">Adres odbioru:</h4>
                            <ul>
                                <li id="summary-street">Prosta 51</li>
                                <li id="summary-city">Warszawa</li>
                                <li id="summary-zipcode">99-098</li>
                                <li id="summary-phone">123 456 789</li>
                            </ul>
                        </div>

                        <div class="form-section--column">
                            <h4 th:text="#{summary.date}">Termin odbioru:</h4>
                            <ul>
                                <li id="summary-date">13/12/2018</li>
                                <li id="summary-time">15:40</li>
                                <li id="summary-comment">Brak uwag</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step">Wstecz</button>
                    <button type="submit" class="btn" th:text="#{summary.confirm}">Potwierdzam</button>
                </div>
            </div>
        </form>
    </div>
</section>

<footer th:include="fragments/main-page-footer :: main-page-footer"></footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:src="@{/js/summary.js}"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>
